@mixin MainBG_image {//主背景圖
  background-image: url(image/tt.jpg);
}
@mixin LTicon_img {//電腦版左上角圖片
  
  background-image: url(image/LTicon.png);
}
@mixin WorkTeamTextColor {//work組名稱顏色
  color: black;
  font-family: ChineseType;
}
@mixin TitleColor {//手機版標題顏色//字型
  color: white;
  font-family: EnglishType;
}
@mixin TextColor {//其他文字顏色//字型
  color: white;
  font-family: ChineseType;
}
@mixin sideBarTextColor {//側邊選單字顏色//字型
  color: white;
  font-family: EnglishType;
}

@mixin WorkTeamBG_1 {//第1組圖片
  background-image: url(image/group_1_330.jpg);
}
@mixin WorkTeamBG_2 {//第2組圖片
  background-image: url(image/group_2_330.jpg);
}
@mixin WorkTeamBG_3 {//第3組圖片
  background-image: url(image/group_3_330.jpg);
}
@mixin WorkTeamBG_4 {//第4組圖片
  background-image: url(image/group_4_330.png);
}
@mixin WorkTeamBG_5 {//第5組圖片
  background-image: url(image/group_5_330.jpg);
}
@mixin WorkTeamBG_6 {//第6組圖片
  background-image: url(image/group_6_330.png);
}
@mixin WorkTeamBG_7 {//第7組圖片
  background-image: url(image/group_7_330.png);
}
@mixin WorkTeamBG_8 {//第8組圖片
  background-image: url(image/group_8_330.png);
}
@mixin WorkTeamBG_9 {//第9組圖片
  background-image: url(image/group_9_330.jpg);
}
@mixin WorkTeamBG_10 {//第10組圖片
  background-image: url(image/group_10_330.png);
}
@mixin WorkTeamBG_11 {//第11組圖片
  background-image: url(image/group_11_330.jpg);
}
@mixin WorkTeamBG_12 {//第12組圖片
  background-image: url(image/group_12_330.png);
}
@mixin WorkTeamBG_13 {//第13組圖片
  background-image: url(image/group_13_330.png);
}

@mixin aboutDateBG {//about的date圖片
  background-image: url(image/about_date.png);
}
@mixin aboutDateDescription {//about的Description圖片
  background-image: url(image/aboutBG.png);
}
@mixin copywritingFontStyle {//文案的字型和大小
  font-family: ChineseType;
}

@font-face {
  font-family:ChineseType ;
  src: url(font/GenJyuuGothicX-Monospace-Regular.ttf);
}
@font-face {
  font-family:EnglishType ;
  src: url(font/Klaxons.otf);
}
body{
  @include MainBG_image();
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
a{text-decoration: none;}
.LTicon2
{
  z-index: -1;
  position: fixed;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right;
  top: 4vw;
  opacity: 0.7;
  width: 17vw;
  height: 174px;
  @include LTicon_img();
}
.nav-link{
  height: 4vw;
}
#sidebarAndContent{
  margin-top: 2vw;
  height: auto;
  color: rgb(0, 0, 0);/*可忽略*/
}
.sidebar{
  position: fixed;
  margin-top: 40vh;
  margin-left: 5vw;
  z-index:5;
  height: auto;
  height: 15vw;
  width: 15vw;
  text-align: center;
  font-size: 2.5vw;
}
@mixin textDecor {
  text-decoration:underline;
}
.projectS:hover{@include textDecor();}
.aboutS:hover{@include textDecor();}
.mapS:hover{@include textDecor();}
.sidebar a
{
  @include sideBarTextColor();
}
.content{
  margin-top: 3vw;
}
.content .wrap1
{
  margin-left: 10vw;
}
@mixin line{//project共用
    display: flex;
  justify-content: center;
    padding: 0;
    height: auto;
  }
  .Work0
  { 
    margin-left:10vw;   
    margin-top: 10vw;
    font-size: 10vw;
    @include line; 
    @include TitleColor();
  }
  .Work
  {    
    position: relative;
    margin-left: 10vw;
    margin-top: 15vw;
    margin-bottom: 5vw;
    width: auto;
    font-size: 10vw;
    @include line; 
    @include TitleColor();
  }
  .line1{    @include line; }
  .line2{    @include line;  }
  .line3{    @include line;  }
  .line4{    @include line;  }
  .line5{    @include line;  }
  .line6{    @include line;  }
  .line7{    @include line;  }

  
  @mixin lineBox {
    display: inline-flex;
  justify-content: center;
    margin: 15px;
    height: 320px;
    width: 320px;
    background-color: rgba(255, 255, 255,0.2);
    border: 2px solid rgb(255, 255, 255);
    transition-duration:1s; 
  }
  @mixin lineBox2 {
    background-color: rgba(255, 255, 255,0.2);
    border: 2px solid #fff4c7;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(243, 205, 31, 0.5),
    0 0 40px rgba(243, 205, 31, 0.5), 0 0 5px rgba(243, 205, 31, 0.5) inset,
    0 0 10px rgba(243, 205, 31, 0.5) inset,
    0 0 40px rgba(243, 205, 31, 0.5) inset;
  }
  
  .box1_1{@include lineBox;}//作品圖片
  .box1_1:hover {@include lineBox2;}
  .box1_2{@include lineBox;}
  .box1_2:hover {@include lineBox2;}
  .box1_3{@include lineBox;}
  .box1_3:hover {@include lineBox2;}

  .box2_1{@include lineBox;}
  .box2_1:hover {@include lineBox2;}
  .box2_2{@include lineBox;}
  .box2_2:hover {@include lineBox2;}

  .box3_1{@include lineBox;}
  .box3_1:hover {@include lineBox2;}
  .box3_2{@include lineBox;}
  .box3_2:hover {@include lineBox2;}
  .box3_3{@include lineBox;}
  .box3_3:hover {@include lineBox2;}

  .box4_1{@include lineBox;}
  .box4_1:hover {@include lineBox2;}
  .box4_2{@include lineBox;}
  .box4_2:hover {@include lineBox2;}

  .box5_1{@include lineBox;}
  .box5_1:hover {@include lineBox2;}
  .box5_2{@include lineBox;}
  .box5_2:hover {@include lineBox2;}
  .box5_3{@include lineBox;}
  .box5_3:hover {@include lineBox2;}

  @mixin mobileBoxWidth {
    width: auto;
    height: auto;
    margin: 2vw;
  }
  .wrap2
  {
    width: 100%;
    margin: 3vw;
    justify-content: center;
  }
  .wrap2 .box1_1{@include mobileBoxWidth();}
  .wrap2 .box1_2{@include mobileBoxWidth();}
  .wrap2 .box1_3{@include mobileBoxWidth();}

  .wrap2 .box2_1{@include mobileBoxWidth();}
  .wrap2 .box2_2{@include mobileBoxWidth();}

  .wrap2 .box3_1{@include mobileBoxWidth();}
  .wrap2 .box3_2{@include mobileBoxWidth();}
  .wrap2 .box3_3{@include mobileBoxWidth();}

  .wrap2 .box4_1{@include mobileBoxWidth();}
  .wrap2 .box4_2{@include mobileBoxWidth();}

  .wrap2 .box5_1{@include mobileBoxWidth();}
  .wrap2 .box5_2{@include mobileBoxWidth();}
  .wrap2 .box5_3{@include mobileBoxWidth();}

  @mixin teamFrameAttribute {
    width: 290px;
  height: 290px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 15px;
  }
.teamName
{  
  font-family: ChineseType;
  color: transparent;
  background-color: transparent;
  display: block; 
  margin-top: 190px;
  padding-top: 25px;
  height: 100px;
  width: 100%;
  font-size: 35px;
  text-align: center;
  transition-duration: 1s; 
}
.teamName03
{  
  font-family: ChineseType;
  color: transparent;
  background-color: transparent;
  display: block; 
  margin-top: 190px;
  padding-top: 30px;
  height: 100px;
  width: 100%;
  font-size: 25px;
  text-align: center;
  transition-duration: 1s; 
}
.teamName04
{  
  font-family: ChineseType;
  color: transparent;
  background-color: transparent;
  display: block; 
  margin-top: 190px;
  padding-top: 30px;
  height: 100px;
  width: 100%;
  font-size: 25px;
  text-align: center;
  transition-duration: 1s; 
}
@mixin teamName2 {
  display: block; 
  margin-top: 190px;
  padding-top: 25px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255,0.5);
  font-size: 35px;
  text-align: center;
  @include WorkTeamTextColor();
  
}
@mixin teamName3 {
  display: block; 
  margin-top: 190px;
  padding-top: 30px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255,0.5);
  font-size: 25px;
  text-align: center;
  @include WorkTeamTextColor();
}
@mixin teamName4 {
  display: block; 
  margin-top: 190px;
  padding-top: 30px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255,0.5);
  font-size: 25px;
  text-align: center;
  @include WorkTeamTextColor();
}
.team1BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_1;
}
.team2BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_2;
}
.team3BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_3;
}
.team4BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_4;
}
.team5BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_5;
}
.team6BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_6;
}
.team7BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_7;
}
.team8BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_8;
}
.team9BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_9;
}
.team10BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_10;
}
.team11BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_11;
}
.team12BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_12;
}
.team13BG
{
  @include teamFrameAttribute();
  @include WorkTeamBG_13;
}
.team1BG:hover .teamName{@include teamName2;}
.team2BG:hover .teamName04{@include teamName4;}
.team3BG:hover .teamName{@include teamName2;}
.team4BG:hover .teamName{@include teamName2;}
.team5BG:hover .teamName{@include teamName2;}
.team6BG:hover .teamName{@include teamName2;}
.team7BG:hover .teamName{@include teamName2;}
.team8BG:hover .teamName{@include teamName2;}
.team9BG:hover .teamName{@include teamName2;}
.team10BG:hover .teamName{@include teamName2;}
.team11BG:hover .teamName{@include teamName2;}
.team12BG:hover .teamName{@include teamName2;}
.team13BG:hover .teamName03{@include teamName3;}

@mixin teamFrameAttribute2 {
  width: 40vw;
height: 40vw;
margin: 1vw;
background-size: 100%;
background-repeat: no-repeat;
}
.wrap2 .team1BG{@include teamFrameAttribute2;}
.wrap2 .team2BG{@include teamFrameAttribute2;}
.wrap2 .team3BG{@include teamFrameAttribute2;}
.wrap2 .team4BG{@include teamFrameAttribute2;}
.wrap2 .team5BG{@include teamFrameAttribute2;}
.wrap2 .team6BG{@include teamFrameAttribute2;}
.wrap2 .team7BG{@include teamFrameAttribute2;}
.wrap2 .team8BG{@include teamFrameAttribute2;}
.wrap2 .team9BG{@include teamFrameAttribute2;}
.wrap2 .team10BG{@include teamFrameAttribute2;}
.wrap2 .team11BG{@include teamFrameAttribute2;}
.wrap2 .team12BG{@include teamFrameAttribute2;}
.wrap2 .team13BG{@include teamFrameAttribute2;}

  @mixin empty {
    position: relative;
    margin: 0;
    padding: 0;
    width: auto;
    height: 10vw;
    background-color: white;
    border: 1px solid red;/*可忽略*/
  } 
  .Work_
  {
    width: 100%;
  }
  
  #sidebarAndContent .empty1{@include empty;}//留白1
  #sidebarAndContent .empty2{@include empty;}//留白2
  #sidebarAndContent .empty3
  {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 2vw;
     color: white;
    text-align: center;
    font-size: 1vw;
    @include TextColor();
  }//留白3

  #sidebarAndContent .about .container0{/*可忽略*/
    display: flex;
  justify-content: center;
  flex-wrap: wrap;  
    position: relative;
    width: 100%;
  }
  #sidebarAndContent .date{
    position: absolute;
    @include aboutDateBG();
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    right: 5vw;
    bottom: 5vw;
    width: 15vw;
    height: 15vw;
    text-align: center;
}
#sidebarAndContent .date .dateText
{
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.7vw;
  @include TextColor();
  color: black;
}

  #sidebarAndContent .about .description{
    position: relative;
    margin-left: 0vw;
      margin-bottom: 5vw;
      margin-top: 10vw;
      width: 55vw;
      height: 35vw;
      background-size: 55vw;
      background-position: center;
      background-repeat: no-repeat;
      @include aboutDateDescription();
      @include TextColor();
  }
  #sidebarAndContent .about .description2{
    position: relative;
    padding: 0;
    margin-bottom: 5vw;
    width: 100%;
    height: 52vw;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
    @include aboutDateDescription();
    @include TextColor();
}
.copywriting1
{
  @include copywritingFontStyle();
  letter-spacing: 0.5vw;
  margin-top: 6vw;
  text-align: center;
  font-size: 1.2vw;
  text-decoration:none;
}
.copywriting2
{
  @include copywritingFontStyle();
  
  letter-spacing: 0.5vw;
  line-height: 6vw;
  margin-top: 5vw;
  text-align: center;
  font-size: 3vw;
  text-decoration:none;
}
#sidebarAndContent .about img
{
  max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}  

  .map1{
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
    height: auto;
  }
  .map1 .bigmap{
    margin-left: 13vw;
    margin-top: 10vw;    
    width: 40vw;
    height: 30vw;
    background-color: rgba(255, 255, 255,0.2);
  }

  iframe
  {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .map1 .bigmap2{  
    padding: 2vw;  
    width: 80vw;
    height: 60vw;
    background-color: rgba(255, 255, 255, 0.2);
    border:4px solid white;
  }
  .map1 .content2
  {
    display: inline-block;
    margin-top: 7vw;
    margin-left:4vw;
  }
  .map1 .content3
  {
    display: inline-block;
    width: 80vw;
  }
  .map1 .traffic{
    margin-top: 10vw;
    margin-bottom: 3vw;
    padding-top: 0.7vw;
    width: 15vw;
    height: 5vw;
    text-align: center;
    font-size: 2.5vw;
    background-color: rgba(255, 255, 255, 0.2);
    border:2px solid white;
    @include TextColor();
  }
  .map1 .addressAndTime{
    width: 25vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0.2);
    border:2px solid white;
    font-size: 2vw;
    padding-left: 7vw;
    padding-top: 4.5vw;
    @include TextColor();
  }
  .map1 .traffic2{
    margin-top: 4vw;
    padding: 1.5vw;
    width: 30vw;
    height: 10vw;
    text-align: center;
    font-size: 4.5vw;
    background-color: rgba(255, 255, 255, 0.2);
    border:2px solid white;
    @include TextColor();
  }
  .map1 .addressAndTime2{
    margin-top: 4vw;
    width: 45vw;
    height: 30vw;
    background-color: rgba(255, 255, 255, 0.2);
    border:2px solid white;
    font-size: 4vw;
    padding-left: 11vw;
    padding-top: 7vw;
    margin-bottom:3vw ;
    @include TextColor();
  }
  .Map20
  {
    position: relative;
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-size: 10vw;
    @include line; 
    width: fit-content;
    left: 10vw;
    @include TitleColor();
  }
  .map2{
    position: relative;
    height: 50vw;
  }
  .map2 .trainAndHighrail{
    position: absolute;
    top: 10vw;
    left:21.5vw;
  }
  .map2 .train{
    width: fit-content;
    height: 25vw;
  }
  .map2 .train .trainTitle{
    width: fit-content;
    height: fit-content;
    padding: 1vw;
    padding: 1vw;
    font-size: 2.5vw;
    @include TextColor();
    background-color: rgba(255, 255, 255, 0.2);
    border:2px solid white;
  }
  .map2 .train .trainContent{
    width: 35vw;
    height: 20vw;
    margin-top: 5vw;
    @include TextColor();
    font-size: 1.2vw;
  }
  .map2 .midleLine{
    position: absolute;
    top: 0vw;
    left: 35vw;
    width: 2px;
    height: 30vw;
    background-color: rgb(255, 255, 255);
  }
  .map2 .highRail{
    position: absolute;
    top: 0vw;
    left: 41vw;
    width: 30vw;
    height: 25vw;
  }
  .map2 .highRail .highRailTitle{
    width: fit-content;
    height: fit-content;
    padding: 1vw;
    font-size: 2.5vw;
    @include TextColor();
    background-color: rgba(255, 255, 255, 0.2);
    border:2px solid white;
  }
  .map2 .highRail .highRailContent{
    width: 35vw;
    height: 20vw;
    margin-top: 5vw;
    @include TextColor();
    font-size: 1.2vw;
  }

  .map3{
    position: relative;
  }
  .map3 .trainAndHighrail{
    display: flex;
    
  justify-content: center;
  flex-wrap: wrap;
    width: 100vw;
    height: auto;
  }
  .map3 .train{
    width: 80vw;
    height: 60vw;
     }
  .map3 .train .trainTitle{
    width: fit-content;
    height: fit-content;
    padding: 2vw;
    @include TextColor();
    background-color: rgba(255, 255, 255, 0.2);
    border:2px solid white;
    font-size: 7vw;
   }
  .map3 .train .trainContent{
    width: 70vw;
    height: 40vw;
    margin-top: 7vw;
    margin-left: 10vw;
    @include TextColor();
    font-size: 3vw;
  }
  .map3 .highRail{
    margin-top: 12vw;
    top: 0vw;
    left: 41vw;
    width: 80vw;
    height: 60vw;
    margin-bottom: 15vw;
    }
  .map3 .highRail .highRailTitle{
    width: fit-content;
    height: fit-content;
    padding: 2vw;
    @include TextColor();
    background-color: rgba(255, 255, 255, 0.2);
    border:2px solid white;
    font-size: 7vw;
  }
  .map3 .highRail .highRailContent{
    width: 70vw;
    height: 40vw;
    margin-top: 7vw;
    margin-left: 10vw;
    @include TextColor();
    font-size: 3vw;
  }
